SECRET_KEY=your_django_secret_key
DEBUG=your_debug_status

NAME=your_database_name
USER_NAME=your_database_host
PASSWORD=you_password
HOST=you_host
PORT=you_port

EMAIL_HOST=you_email_host
EMAIL_PORT=you_email_port
EMAIL_HOST_USER=your_email_smtp
EMAIL_HOST_PASSWORD=your_app_smtp_password
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True

CACHE_ENABLED=your_cashed_status
LOCATION=your_redis_host_location