{% extends "catalog/catalog_list.html" %}
{% block content %}
<div class="container my-2">
    <div class="bg-body-tertiary p-4 rounded">
        <div class="col-sm-8 py-4 mx-auto">
            <h2 class="display-5 fw-medium">Ошибка сброса пароля</h2>
            <div class="my-4">
                <p>Пользователя с такой почтой не существует</strong></p>
            </div>
            <a href="{% url 'catalog:product' %}" type="button" class="btn btn-primary">Вернуться на главную страницу</a>
        </div>
    </div>
</div>
{% endblock %}