{% extends "catalog/catalog_list.html" %}
{% block content %}
<div class="container my-2">
    {% if warning_text %}
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            {% for text in warning_text %}
            <p><b>{{ text.0 }}:</b> {{ text.1 }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="bg-body-tertiary p-4 rounded">
        <div class="container my-3 col-8">
            <form method="post">
                {% csrf_token %}
                <div class="container row">
                    <div class="col-6">
                        <h5 class="mb-3">Сброс праоля:</h5>
                        <p>Введите свою почту для сброса пароля и мы пришлем вам новый временный пароль.</p>
                        <div class="my-4">
                            <input class="form-control" type="email" name="email" id="inputEmail">
                            <label class="text-secondary" for="inputEmail">Email</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary mt-4 mb-2 w-100">Сбросить</button>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-secondary mt-4 mb-2 w-100"
                                   href="{% url 'catalog:product' %}">Отмена</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}